img {
    width: 300px;
}

.mat-image {
    align-self: center;
}

.logo {
    width: 30px;
    padding-right:10px;
}

li {
    list-style: none;
}


.container {
    padding: 100px;
    align-items: center;
    text-align: center;
    align-content: center;
}

.responsive-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    
}

mat-card-actions {
    align-self: center;
}

mat-card-header {
    align-self: center;
}

.add-new {
    display: grid;
    width: 100%;
    background-color: rgba(162, 162, 162, 0.373);
    margin-top: 20px;
}

.sorting {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgba(162, 162, 162, 0.137);
    margin-top: 20px;
}
