<div class="container responsive-grid">
    <mat-card class="example-card">
        <img mat-card-image class="mat-image" src="https://media.istockphoto.com/id/637770524/photo/circular-futuristic-interface-of-smart-home-automation-assistant-virtual-screen.jpg?s=612x612&w=0&k=20&c=6FxEoMl8lg9awbCx0m3OExyJu6_WZVPo2MdFP0RTJc4=" alt="smart home">
    </mat-card>

    <mat-card class="example-card">        
        <mat-card-header>
            <mat-card-title>About Smart Home</mat-card-title>
                <p>
                    <br>
                    <br>
                </p>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque malesuada ligula quis egestas tristique. Donec ac diam finibus turpis mollis elementum. Quisque eu arcu pellentesque, pellentesque purus quis, blandit ex. Nunc sodales pharetra diam, vitae congue libero aliquet sit amet. Sed luctus purus ac ipsum lobortis laoreet. Fusce id commodo nisl. Ut et vehicula felis, et suscipit nibh. Nullam ultricies pulvinar ipsum. Ut magna mi, ultrices id mi eget, egestas imperdiet turpis.
            </p>
            <p>
                Nunc tempor pellentesque est sit amet iaculis. Proin a magna malesuada, rhoncus erat ac, porta diam. Quisque congue nisi non augue facilisis, et auctor dolor placerat. Maecenas bibendum, urna et dignissim laoreet, ex ligula volutpat enim, et accumsan metus ipsum id purus. Vestibulum nec vehicula purus. Mauris eu tincidunt risus. Vivamus condimentum aliquam semper.  
            </p>
            <p>
                Integer egestas ex at elit cursus, a pulvinar ipsum molestie. Praesent in hendrerit est. Nam non ligula vitae tortor mollis dapibus. Vestibulum sit amet blandit elit. Maecenas eget vestibulum justo, vitae tempus ligula. Vivamus eleifend quam vitae vehicula malesuada. Praesent scelerisque quam et congue vulputate. Sed convallis elementum urna eu rutrum. Curabitur eleifend congue orci.
            </p>
            
        </mat-card-content>
    </mat-card>
</div> 
